<% include ../partials/header %>

<ul>
  <li><%= user.username %></li>
  <li><%= user.firstName %></li>
  <li><%= user.lastName %></li>
  <li><%= user.email %></li>
  <li><img src="<%= user.avatar %>" alt="Avatar picture"></li>
</ul>

<% include ../partials/footer %>
