<% include ../partials/header %>

<div class="container">
  <h1><%= campground.name %></h1>

  <img src="<%= campground.image %>" alt="Campground Image">

  <p>description: <%= campground.description %></p>

  <a class="btn btn-primary" href="/campgrounds/<%= campground._id %>/comments/new">Write Comment</a>

  <% campground.comments.forEach(function(comment){ %>
    <p>
      <strong><%= comment.author %></strong> - <%= comment.text %>
    </p>
  <% }) %>

  <a class="btn btn-danger" href="/campgrounds">Back to Campgrounds page</a>
</div>

<% include ../partials/footer %>
