<% include partials/header %>

<h1>index reached</h1>

<ul>
  <% blogPosts.forEach(function(blogPost){ %>
    <div>
      <h2>Title: <%= blogPost.title %></h2>
      <img src="<%= blogPost.image %>" alt="Blogpost image">
      <p><%= blogPost.body %></p>
      <p>Created on: <%= blogPost.created %></p>
      <a href="/blogs/<%= blogPost._id %>">Read More</a>
    </div>

  <% }) %>
</ul>

<% include partials/footer %>
