<% include partials/header %>

<div class="ui main text container segment">
  <div class="ui huge header"><%= blogPost.title %></div>
  <div class="ui top attached">
    <div class="item">
      <img class="ui centered rounded image" alt="blog image" src="<%= blogPost.image %>">
      <div class="content">
        <span><%= blogPost.created.toDateString() %></span>
      </div>
      <div class="description">
        <p><%= blogPost.body %></p>
      </div>
      <a class="ui button big orange" href="/blogs/<%= blogPost._id %>/edit">Edit Blog Post</a>
    </div>
  </div>
</div>

<% include partials/footer %>
